#### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
#### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
import pandas as pd
from scipy import stats as stats

In [2]:
df=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\03_Hypothesis_testing\LabTAT.csv')

In [3]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
df.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [5]:
L1vs2 = stats.ttest_ind(df['Laboratory 1'],df['Laboratory 2'])
L1vs3 = stats.ttest_ind(df['Laboratory 1'],df['Laboratory 3'])
L1vs4 = stats.ttest_ind(df['Laboratory 1'],df['Laboratory 4'])
L2vs3 = stats.ttest_ind(df['Laboratory 2'],df['Laboratory 3'])
L2vs4 = stats.ttest_ind(df['Laboratory 2'],df['Laboratory 4'])
L3vs4 = stats.ttest_ind(df['Laboratory 3'],df['Laboratory 4'])

In [6]:
print(L1vs2)
print(L1vs3)
print(L1vs4)
print(L2vs3)
print(L2vs4)
print(L3vs4)

Ttest_indResult(statistic=-0.2975216812891612, pvalue=0.7663277896545946)
Ttest_indResult(statistic=-11.165478023532119, pvalue=1.4885264395661512e-23)
Ttest_indResult(statistic=8.02886395533212, pvalue=4.5201370470099075e-14)
Ttest_indResult(statistic=-10.321291605474421, pvalue=7.029124901932706e-21)
Ttest_indResult(statistic=7.848550374427221, pvalue=1.4261693708240927e-13)
Ttest_indResult(statistic=17.729769073850722, pvalue=2.1080551000374276e-45)

### Comments
#### There is no significance diffrence betweenTAT of  laboratory 1 and Laboratory 2
#### Rest all Laboratories TAT is significanty diffrent from each other