#### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

#### Minitab File: CustomerOrderForm.mtw
 
#### Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.
 
#### Minitab File: Fantaloons.mtw

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
customer_form=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\03_Hypothesis_testing\Costomer+OrderForm.csv')

In [3]:
customer_form.isna().any()

Phillippines    False
Indonesia       False
Malta           False
India           False
dtype: bool

In [4]:
customer_form.isnull().any()

Phillippines    False
Indonesia       False
Malta           False
India           False
dtype: bool

In [5]:
customer_form.shape

(300, 4)

In [6]:
customer_form.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [7]:
customer_form.head(3)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free

In [8]:
df2=customer_form.apply(pd.value_counts)

In [9]:
df2

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [10]:
stats.chi2_contingency(df2)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

#### Defective % in center from high to low:-   Indonesia-Phillippines-Malta-India
#### P value in annova test in higher than alpha value so there is not a signficance relationshiop between in Defective % acrros centers

In [11]:
faltoons=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\03_Hypothesis_testing\Faltoons.csv')

In [12]:
faltoons.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [13]:
faltoons.describe()

       Weekdays Weekend
count       400     400
unique        2       2
top      Female  Female
freq        287     233

In [14]:
# H0 = % of males versus females walking in to the store does not differ based on day of the week
# Ha = % of males versus females walking in to the store differ based on day of the week

In [15]:
df3=faltoons.apply(pd.value_counts)

In [16]:
df3

        Weekdays  Weekend
Female       287      233
Male         113      167

In [17]:
stats.chi2_contingency(df3)

(15.434065934065934,
 8.54342267020237e-05,
 1,
 array([[260., 260.],
        [140., 140.]]))

#### as the p value is less than apha value 0.05, we will reject null hpyothesis 
#### and retain the alternate hypothesis that % of males versus females walking in to the store differ based on day of the week