#### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [3]:
import pandas as pd
from scipy import stats as stats

In [4]:
df=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\03_Hypothesis_testing\Cutlets.csv')

In [5]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
df.shape

(35, 2)

In [7]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [8]:
#Ho:  muA==muB
#H1:  muA=!muB

In [9]:
#aplhavalue=0.05

In [10]:
stats.ttest_ind(df['Unit A'],df['Unit B'])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

#### As pvalue is greater than alpha value we will accept the null hypthesis that is muA=muB
#### So there is no significance diffrence in Unit A and Unit B