#### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [1]:
import pandas as pd
from scipy import stats as stats

In [2]:
df=pd.read_csv(r'F:\pk\01_Data_science\ASSIGNMENTS\03_Hypothesis_testing\BuyerRatio.csv')

In [3]:
df2=df.drop(columns=['Observed Values'])

In [4]:
df2

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [25]:
stats.ttest_ind(df2['East'],df2['West'])

Ttest_indResult(statistic=-0.82306722896822, pvalue=0.4969913379002262)

In [27]:
observed_values=df2.values

In [14]:
val=stats.chi2_contingency(df2)

In [42]:
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

#### As p value is greater than alpha value (0.05) we retain the null hpythesis that there is no relationship between two categeracal veriable male and female

In [43]:
#### Solving manually to cross check with critcal value

In [16]:
expected_values=val[3]

In [37]:
no_of_rows=len(df2.iloc[0:,0])
no_of_columns=len(df2.iloc[0,0:])
dof=(no_of_rows-1)*(no_of_columns-1)
print(dof)
alpha=0.5

3

In [28]:
chi_square=(observed_values-expected_values)**2/expected_values

In [33]:
chi_square_statistics=sum(chi_square[0])+sum(chi_square[1])

In [34]:
chi_square_statistics

1.595945538661058

In [39]:
critical_value=stats.chi2.ppf(q=1-alpha,df=dof)
print(critical_value)

2.3659738843753377

In [41]:
p_value=1-stats.chi2.cdf(chi_square_statistics,dof)
print(p_value)

0.6603094907091882

#### As critacal is greater than chi square statistics we retain the null hpythesis that there is no relationship between two categeracal veriable male and female